.xp-sidebar {
  width: 100px;
  height: 100vh;

  padding-top: 20px;
  padding-left: 10px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.xp-icon {
  width: 72px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;

  background: transparent;
  border: none;

  cursor: pointer;

  color: white;

  font-family: Tahoma, sans-serif;
  font-size: 12px;

  text-align: center;
}

.xp-icon img {
  width: 64px;
  height: 64px;

  object-fit: contain;
}

.xp-icon:hover {
  background: rgba(255,255,255,0.15);

  border-radius: 4px;
}