.alert {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;

	padding: 20px;
	min-width: 250px;
}

.message {
	text-align: center;
}

.button {
	min-width: 70px;
	padding: 4px 16px;

	cursor: pointer;
}

.actions {
	display: flex;
	justify-content: space-between;
	width: 180px;
}