html,
body {
  margin: 0;
  padding: 0;
}

.xp-desktop {
  width: 100vw;
  height: 100vh;

  background-image: url("/windows_wallpaper.jpg");
  background-size: cover;
  background-position: center;
}