.list {
	display: flex;
	flex-direction: column;
	gap: 6px;

	width: 100%;
	flex: 1;
	min-width: 0;
	min-height: 0;

	padding: 8px 10px;

	background: #fff;
	box-sizing: border-box;

	overflow-y: auto;
	overflow-x: hidden;
}