:root {
  --xp-blue: #245edb;
  --xp-dark-blue: #0c2d83;
  --xp-light-blue: #3a6ff7;

  --xp-window-bg: #ece9d8;
  --xp-border-light: #ffffff;
  --xp-border-dark: #7f9db9;

  --xp-sidebar: #1d4fa3;

  --xp-text: #000;
}