.header {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
}

.avatar {
  border-radius: 9999px;
  background: #374151; // gray-700
}

.info {
  display: flex;
  flex-direction: column;
}

.username {
  font-size: 24px;
  font-weight: bold;
}

.tagline {
  font-size: 14px;
  color: #9ca3af; // gray-400
}