.card {
  padding: 8px;

  background: #e9eefc;

  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #7f9db9;
  border-bottom: 1px solid #7f9db9;

  font-size: 13px;
}