.player-info {
	position: absolute;

	display: flex;
	flex-direction: column;
	align-items: center;

	gap: 10px;

	color: white;
	font-family: monospace;
	font-size: 18px;

	min-width: 120px;

	img {
		width: 70px;
		height: 70px;
		object-fit: cover;

		border-radius: 4px;
		border: 3px solid #fff;

		box-shadow:
			2px 2px 0 #808080,
			4px 4px 0 #000;
	}

	span {
		text-shadow: 1px 1px 2px black;
		max-width: 120px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		min-height: 22px;
	}

	.active-power-up {
		min-height: 36px;
		text-align: center;
		font-size: 14px;
	}

	&.left {
		left: -130px;
		top: 50%;
		transform: translateY(-50%);
	}

	&.right {
		right: -130px;
		top: 50%;
		transform: translateY(-50%);
	}
}

@media (max-width: 900px) {
	.player-info {
		position: absolute;
		transform: none;

		flex-direction: row;
		align-items: center;
		gap: 8px;

		min-width: auto;

		img {
			width: 50px;
			height: 50px;
		}

		span {
			max-width: 100px;
			min-height: unset;
		}

		.active-power-up {
			font-size: 12px;
			min-height: unset;
			text-align: left;
		}

		&.left {
			left: 5px;
			top: -65px;
		}

		&.right {
			right: 5px;
			bottom: -65px;
			top: auto;

			flex-direction: row-reverse;

			.active-power-up {
				text-align: right;
			}
		}
	}
}