/* GameCanvas.scss */

.canvas-wrapper {
  width: 100%;
  aspect-ratio: 9 / 5;

  border: 4px solid #475569;
  background: #111827;

  position: relative;
  flex-shrink: 0;
}

.game-canvas {
  width: 100%;
  height: 100%;

  display: block;
}