/* GameCanvas.scss */


.canvas-wrapper {
  width: 100%;
  aspect-ratio: 4 / 3;

  border: 4px solid #475569;
  background: #111827;
}

.canvas-wrapper canvas {
  width: 100%;
  height: 100%;
  display: block;
}
// .canvas-wrapper {
//   width: 100%;
//   aspect-ratio: 4 / 3;

//   border: 4px solid #475569;
//   background: #111827;
//   position: relative;
//   flex-shrink: 0;
// }

// .canvas-wrapper canvas {
//   width: 100%;
//   height: 100%;
//   display: block;
// }

.game-canvas {
  width: 100%;
  height: 100%;

  display: block;
}