.content {
	width: 100%;

	padding: 16px;

	box-sizing: border-box;

	background: #fff;
	color: #000;

	font-family: var(--xp-font-main);
	font-size: 12px;

	line-height: 1.5;
}

.content h1 {
	margin: 0 0 4px;
	font-size: 18px;
}

.content h2 {
	margin: 18px 0 6px;
	font-size: 13px;
	font-weight: bold;
}

.content p {
	margin: 0 0 10px;
}

.content ul {
	margin: 0 0 12px;
	padding-left: 24px;
}

.content li {
	margin-bottom: 4px;
}

.updated {
	margin-bottom: 16px !important;

	font-size: 11px;
	color: #555;
}